# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
[parameters]
client=cds
dataset=reanalysis-era5-pressure-levels
target_path=gs://ecmwf-downloads/test/o1280-{}-{}-{}.grib
partition_keys=
    year
    month
    day
[selection]
# These are the averages of an ensemble of analyses.
product_type=ensemble_mean
format=grib
grid=o1280
variable=
    relative_humidity
    temperature
    fraction_of_cloud_cover
    geopotential
    u_component_of_wind
    v_component_of_wind
pressure_level=
    500
year=
    2020
month=
    01
day=
    01
    02
time=
    00:00
    12:00
