[parameters]

client=mars

target_path=gs://ks_temp/{year-month}.gb

partition_keys=year-month

[parameters.research1]
api_url=https://api.ecmwf.int/v1
# go/valentine
api_key=API_KEY
api_email=API_EMAIL

[selection]

# Operational data
class=od

# Date Range: Nov,2025 to Jan,2026
year-month=2025-11/to/2026-01

# Operational version
expver=1

# Levels 250
levelist=250

# Pressure levels
levtype=pl

# | Temperature | t | 130 |
param=130.128

# Step 0
step=0

# Ensemble prediction system
stream=enfo

# Init time.
time=00

# Ensemble standard deviation
type=es

# Whole world
area=90/-180/-90/180

# Default accuracy to be used for all ECMWF Historical downloads
accuracy=av