cdsapi
ecmwf-api-client
apache-beam[gcp]
numpy>=1.19.1
pandas
xarray
requests>=2.24.0
firebase-admin>=5.0.0
google-cloud-datastore>=1.15.0,<2  # For compatability with apache-beam[gcp]
google-cloud-firestore
urllib3==1.25.11